/* Top 4 Planets Styling CSS
By Ethan McGarry
Written for ITMD-361-01
*/

/*Formattingfor top h1*/
#tophead {
	font-family: 'Space Mono', monospace;
	font-size: 70px;
	color: white;
	text-align: center;
}

/*Formatting for div that wraps table*/
body {
	margin: auto;
	background-image: url(img/hubble.jpg);
	background-position: center;
	width: 100%;
}

/*Formatting for planet table*/
#ptable {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 15px;
	position: center;
	border-style: double;
	border: 1px #191970;
	background-color: rgba(255, 255, 255, 0.6);
}

th {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 20px;
}

/*Formatting for source in footer*/
#source {
	font-family: 'Space Mono', monospace;
	font-size: 10px;
	text-align: center;
}
