/* Top 4 Planets Styling CSS
By Ethan McGarry
Written for ITMD-361-01
*/

/*Formattingfor top h1*/
#tophead {
	font-family: 'Space Mono', monospace;
	font-size: 80px;
	font: #191970;
	text-align: center;
}

/*Formatting for div that wraps table*/
#tableframe {
	border-style: double;
	border: 1px #191970;
	margin: auto;
	background-image: url(img/hubble.jpg);
	background-position: center;
	background: 100%;
}

/*Formatting for planet table*/
#ptable {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 30px;
}

/*Formatting for source in footer*/
#source {
	font-family: 'Space Mono', monospace;
	font-size: 20px;
	text-align: center;
}
